@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

@keyframes loader {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.animate-loader {
  width: 100%;
  animation: loader 2.5s ease-in-out forwards;
}
